<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632588235595-rds2v5sj5bh10j25gut9dtb4g1g5op48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632588235595-rds2v5sj5bh10j25gut9dtb4g1g5op48</string>
	<key>API_KEY</key>
	<string>AIzaSyCBTUTk_VUwlaa9hYNSeFTJb7J5HyEGFdI</string>
	<key>GCM_SENDER_ID</key>
	<string>632588235595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>learnfirebase-59d27</string>
	<key>STORAGE_BUCKET</key>
	<string>learnfirebase-59d27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632588235595:ios:f81eee4a88536cd81f6ece</string>
</dict>
</plist>